body{
  background-color: #e3e3e3;
}
.firstdiv{
  margin: 20px;
  text-align: center;
}
.firstdiv input{
  padding: 10px;
  margin-bottom: 10px;
  display: block;
  
}
.button{
  cursor: pointer;
  padding: 10px;
  border: 1px solid black;
  border-radius: 25px;
  outline: none;
}

.table{
  margin-left: 20px;
  border-collapse: collapse;
  border: 3px solid black;
}
td{
  border: 3px solid black;
  padding: 20px;
}
.one{
   background-color: green;
}

